/*
MIT license, 2002-2019 parentNode.dk
asset-builder @ 2023-05-11 10:00:53
*/

/*seg_tablet_light_include.css*/

/*s-fonts-desktop_light.css*/
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open_sans/opensans-regular-webfont.eot');
	src: url('fonts/open_sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'),
		 url('fonts/open_sans/opensans-regular-webfont.woff') format('woff'),
		 url('fonts/open_sans/opensans-regular-webfont.ttf') format('truetype'),
		 url('fonts/open_sans/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open_sans/opensans-bold-webfont.eot');
	src: url('fonts/open_sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/open_sans/opensans-bold-webfont.woff2') format('woff2'),
		 url('fonts/open_sans/opensans-bold-webfont.woff') format('woff'),
		 url('fonts/open_sans/opensans-bold-webfont.ttf') format('truetype'),
		 url('fonts/open_sans/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open_sans/opensans-italic-webfont.eot');
	src: url('fonts/open_sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/open_sans/opensans-italic-webfont.woff2') format('woff2'),
		 url('fonts/open_sans/opensans-italic-webfont.woff') format('woff'),
		 url('fonts/open_sans/opensans-italic-webfont.ttf') format('truetype'),
		 url('fonts/open_sans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Serif';
	src: url('fonts/pt_serif/pt_serif-regular-webfont.eot');
	src: url('fonts/pt_serif/pt_serif-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.woff2') format('woff2'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.woff') format('woff'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.ttf') format('truetype'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.svg#pt_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*s-page.css*/
* {font-family: "OpenSans", Verdana, Arial, sans-serif; color: #000000;}
html {min-height: 100%;}
body {background: #ffffff; margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a { cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px; color: #333333;}
input, textarea {outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
h1 {padding: 0 70px 30px; font-size: 48px; line-height: 1.05em;
	font-family: "PT Serif", Times, serif;
}
h2 {padding: 0 70px 30px; font-size: 30px; line-height: 1.1em;
	font-family: "PT Serif", Times, serif;
}
h3 {padding: 0 70px 10px; font-size: 20px; line-height: 1.25em;}
h4 {padding: 0 70px 5px; font-size: 14px; line-height: 1em; font-weight: bold;}
h5 {padding: 0 70px 2px; font-size: 14px; line-height: 1em; font-weight: bold;}
h6 {padding: 0 70px 2px; font-size: 14px; line-height: 1em; font-weight: bold;}
p {padding: 0 70px 20px; font-size: 14px; line-height: 1.38em;} 
ul,
ol {font-size: 0;}
li {font-size: 13px; line-height: 1.25em;}
dl {font-size: 0;} 
dt, 
dd {display: block; font-size: 13px; line-height: 1.25em;}
#page {position: relative; min-height: 100%;}
.terms_notification {position: absolute; z-index: 90; top: 50%; margin-top: -100px; right: 0px; padding: 15px 20px; background: #888888; border-right: none;}
.terms_notification h3 {padding: 0 0 15px; font-size: 14px; color: #ffffff;}
.terms_notification .accept,
.terms_notification .details {text-decoration: underline; padding: 0; font-size: 13px; line-height: 18px; display: inline; vertical-align: bottom; padding: 0 15px 0 0; color: #ffffff;}


/*s-header.css*/
#header {position: relative; height: 100px;}
#header .logo {font-size: 30px; padding: 20px 50px 20px; color: #888888; cursor: pointer; display: block; width: 200px;
	font-family: "PT Serif", Times, serif;
}
#header .servicenavigation {position: absolute; top: 5px; right: 50px;}
#header .servicenavigation li {display: inline; vertical-align: top; color: #bbbbbb; padding-left: 10px;}
#header .servicenavigation li.navigation,
#header .servicenavigation li.admin {display: none;}
#navigation {position: absolute; right: 50px; top: 75px;}
#navigation ul {}
#navigation ul li {display: inline; vertical-align: top; padding: 0 0 0 20px; font-size: 20px; color: #888888;}
#navigation ul li a {
	font-family: "PT Serif", Times, serif;
}
#navigation ul li.front {display: none;}


/*s-footer.css*/
#footer {text-align: center; border-top: 1px solid #888888; margin: 0 50px;}
#footer p {padding: 10px; cursor: pointer;}

/*s-content.css*/
#content {position: relative; width: 640px; margin: 0 auto;}
#content .scene {position: relative; padding: 50px 0 70px;}
#content .scene .link {cursor: pointer;}
#content .scene a {color: #888888;}
#content .scene h1,
#content .scene h2,
#content .scene h3,
#content .scene h4,
#content .scene h5,
#content .scene h6,
#content .scene p {max-width: 500px;}
#content .scene hr {border: none; border-top: 1px solid #888888; margin: 15px 15px 20px; padding: 0;}
#content .scene p.note {font-style: italic;}
#content .scene p+h2,
#content .scene ul+h2,
#content .scene ol+h2,
#content .scene ul+.pagination+h2,
#content .scene dl+h2,
#content .scene div.article+h2,
#content .scene code+h2 {padding-top: 20px;}
#content .scene ul.tags+h2,
#content .scene dl.geo+h2,
#content .scene dl.info+h2 {padding-top: 0;}
#content .scene p+code {margin-top: -15px;}
#content .scene ul,
#content .scene ol {padding: 0 70px 15px;}
#content .scene li {padding: 0 0 5px;}
#content .scene li h1,
#content .scene li h2,
#content .scene li h3,
#content .scene li h4,
#content .scene li h5,
#content .scene li h6,
#content .scene li p,
#content .scene li dl,
#content .scene li ul {padding-left: 0; padding-right: 0;}
#content .scene li code {margin-left: 0; margin-right: 0;}
#content .scene ul.items {padding-bottom: 0;}
#content .scene ul li.item {display: block; padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #dedede;}
#content .scene dl {padding: 0 70px 15px; overflow: hidden; width: 500px;}
#content .scene dt {padding: 0 0 5px 0; color: #bbbbbb;}
#content .scene dd {padding: 0 0 12px;}
#content .scene dt span {text-transform: none;}
#content .scene dl dl {padding: 0 0 10px 30px; width: 470px;}
#content .scene dl dl dt {}
#content .scene dl dl dd {}
#content .scene dl h3,
#content .scene dl h4,
#content .scene dl h5,
#content .scene dl h6 {padding-left: 0; padding-right: 0; padding-top: 10px;}
#content .scene ul.tags {padding-bottom: 20px;}
#content .scene ul.tags li {font-size: 12px; display: inline; padding: 0 7px 0 0;}
#content .scene ul.tags li.editing {background: #666666; color: #ffffff; margin: -2px 10px 8px -4px; padding: 2px 10px; display: inline-block; vertical-align: top;}
#content .scene ul.info {padding-bottom: 26px; padding-right: 0; display: inline-block; vertical-align: top; width: auto;}
#content .scene ul.info li {font-size: 12px; color: #bbbbbb; display: block;}
#content .scene ul.info li.main_entity,
#content .scene ul.info li.publisher,
#content .scene ul.info li.image_info,
#content .scene ul.info li.modified_at {display: none;}
#content .scene div.image,
#content .scene div.media {display: none;}
#content .scene div.categories {padding-bottom: 20px;}
#content .scene div.categories ul.tags {overflow: hidden;}
#content .scene div.categories ul.tags li {font-size: 14px; float: left; clear: both; padding: 5px 0;}
#content .scene div.categories ul.tags li a {display: block;}
#content .scene div.categories ul.tags li.selected {background-color: #000000; padding: 4px 10px; margin: 5px 0;}
#content .scene div.categories ul.tags li.selected a {color: #ffffff;}
#content .scene div.categories ul.actions {padding-bottom: 0;}
#content .scene div.categories ul.actions li {font-size: 15px;}
#content .scene div.related {padding-top: 10px; position: relative; z-index: 1;}
#content .scene div.related h2 a {font-size: 13px; display: inline; vertical-align: baseline;
	font-family: "OpenSans";
}
#content .scene ul.offer,
#content .scene .articlebody ul.offer {font-size: 0; margin: 0; list-style: none; width: auto;}
#content .scene .articlebody ul.offer {padding: 0;}
#content .scene ul.offer li.name,
#content .scene ul.offer li.currency,
#content .scene ul.offer li.url {display: none;}
#content .scene ul.offer li {font-size: 11px; width: auto; display: inline; vertical-align: top; padding: 0 5px 0 0;}
#content .scene ul.offer li.default {text-decoration: line-through; color: #df0000;}
#content .scene ul.offer li.description {padding-top: 4px; display: block;}
#content .scene code {width: 480px; padding: 10px 10px; margin: 0 70px 15px; background-color: #ededed; color: #333333; font-size: 12px; display: block; white-space: pre-wrap; overflow: auto;
	font-family: "Monaco", "Courier New", "Courier";
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-ms-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
#content .scene span.type,
#content .scene span.var,
#content .scene span.value,
#content .scene span.file,
#content .scene span.htmltag,
#content .scene span.command {
	font-family: "Monaco", "Courier New", "Courier"; font-size: 12px;
}
#content .scene span.type {color: #a67800;}
#content .scene span.var {color: #007633;}
#content .scene span.value {color: #a65900; font-style: italic;}
#content .scene span.file {color: #a62300;}
#content .scene span.htmltag {text-transform: uppercase;}
#content .scene span.command {color: #4b5cd7;}
#content .scene div.company,
#content .scene div.person {padding: 0 70px 25px; overflow: hidden;}
#content .scene div.company h2,
#content .scene div.person h2 {padding-left: 0; padding-right: 0; border-bottom: 1px solid #dedede; margin-bottom: 30px;}
#content .scene div.company dl.info,
#content .scene div.person dl.info {width: 250px; padding: 0 0 30px; display: inline; float: left; vertical-align: top;}
#content .scene div.company dl.info.financial,
#content .scene div.person dl.info.financial {display: none;}
#content .scene div.company dl.info dt,
#content .scene div.person dl.info dt,
#content .scene div.company dl.info dd,
#content .scene div.person dl.info dd {display: block; width: auto; text-align: left;}
#content .scene div.company dl.info dd,
#content .scene div.person dl.info dd {padding-bottom: 10px;}
#content .scene div.company dl.info dd ul,
#content .scene div.person dl.info dd ul {padding: 0;}
#content .scene div.company dl.info dd li,
#content .scene div.person dl.info dd li {font-size: 12px;}
#content .scene.login form {padding-bottom: 20px;}
#content .scene.login form li.forgot {padding: 6px 0 0;}
#content .scene.login form li.forgot a {padding: 0; display: inline; vertical-align: top;}
#content .scene p.error,
#content .scene p.errormessage {color: #df0000;}


/*s-article.css*/
#content .scene div.article {padding-bottom: 30px;}
#content .scene div.article ul.tags {padding-bottom: 20px;}
#content .scene .articlebody ul,
#content .scene .articlebody ol {list-style-position: outside; margin-left: 15px; width: 485px;}
#content .scene .articlebody ul {list-style-type: disc;}
#content .scene .articlebody ol {list-style-type: decimal;}
#content .scene .articlebody li {font-size: 14px; padding-bottom: 7px; padding-left: 3px; display: list-item;}
#content .scene .articlebody ul.actions {list-style: none; margin: 0;}
#content .scene .articlebody ul.actions li {padding-left: 0;}
#content .scene .article ul.info ul.geo {padding: 0;}

/*s-form.css*/
form {}
fieldset {border: none; display: block;}
div.field {padding: 0 70px 15px; position: relative; font-size: 0;}
div.field label {font-size: 14px; display: block;}
input,
textarea {-webkit-appearance: none; border-radius: 0;}
.boolean input,
.checkbox input {-webkit-appearance: checkbox;}
.radiobuttons input {-webkit-appearance: radio;}
div.field input,
div.field select,
div.field textarea {color: #333333; background: #ffffff; border: 1px solid #dcdcdc; outline: none; position: relative; z-index: 1;}
div.field input {width: 366px; height: 24px; padding: 2px 6px;}
div.field select {width: 381px; height: 33px; color: #333333; padding: 5px 3px 2px 2px;}
div.field select option {padding: 5px 3px 2px 6px;}
div.field textarea {width: 372px; height: 100px; overflow: auto; padding: 6px 0 2px 6px; }
div.field textarea.autoexpand {width: 366px; padding: 6px 6px 2px; overflow: hidden;}
div.field.checkbox,
div.field.boolean {}
div.field.checkbox input,
div.field.boolean input {display: inline; vertical-align: top; width: auto; height: auto; padding: 0; margin: 0 10px 0 3px; border: 0;}
div.field.checkbox label,
div.field.boolean label {width: auto; display: inline; vertical-align: top; font-size: 14px; line-height: 1em;}
div.field.radiobuttons {}
div.field.radiobuttons label {display: block; font-size: 14px; line-height: 1em; padding: 0 0 8px 3px;}
div.field.radiobuttons div.item {padding: 0 0 5px;}
div.field.radiobuttons div.item input {width: auto; height: auto; padding: 0; margin: 0px 10px 0 3px; border: 0;}
div.field.radiobuttons div.item label {font-size: 14px; line-height: 1em; display: inline; vertical-align: top; }
div.field.focus input,
div.field.focus textarea {}
div.field.focus select {padding: 3px 3px 2px 0px;}
div.field.focus input,
div.field.focus select,
div.field.focus textarea {border-color: #5c5c5c;}
div.field.radiobuttons.focus input,
div.field.checkbox.focus input,
div.field.boolean.focus input {margin: 0px 10px 0 3px; border: none;}
div.field .indicator {display: none;}
div.field.required .indicator {color: #df0000; display: inline;}
div.field.error input,
div.field.error textarea {}
div.field.error select {padding: 3px 3px 2px 0px;}
div.field.error input,
div.field.error select,
div.field.error textarea {border-color: #a62300;}
div.field.radio_buttons.error input,
div.field.checkbox.error input,
div.field.boolean.error input {margin: 0px 10px 0 3px; border: none;}
ul.actions {overflow: hidden;}
ul.actions li,
#content ul.actions li {width: auto; height: auto; float: left;	padding: 0 10px 10px 0;}
ul.actions input.button {width: auto; height: 30px; line-height: 1em; padding: 3px 12px;}
ul.actions a {display: block; line-height: 18px; padding: 6px 0; height: 18px;}
ul.actions a.button,
#content ul.actions a.button {text-decoration: none; display: block; line-height: 18px; padding: 6px 12px; height: 18px;}
ul.actions input.button,
ul.actions a.button,
#content ul.actions a.button {background-color: #dedede; color: #333333; border: none; cursor: pointer; font-size: 14px;}
ul.actions input.button.primary,
ul.actions a.button.primary,
#content ul.actions a.button.primary {background-color: #8c9399; color: #ffffff;}
ul.actions input.button.secondary,
ul.actions a.button.secondary,
#content ul.actions a.button.secondary {background-color: #8c9399; color: #ffffff;}
ul.actions input.button.disabled
ul.actions a.button.disabled,
#content ul.actions a.button.disabled {cursor: default !important; color: #aaaaaa !important; background-color: #eeeeee !important;}
div.field div.help {position: absolute; left: 455px; top: 6px; width: 200px;}
div.field div.error,
div.field div.hint {display: none; padding: 5px; font-size: 12px; margin-top: -3px;}
div.field div.error {border: 1px solid #a62300; color: #a62300; background: #ffddd5;}
div.field.error div.error {display: block;}
div.field div.hint {z-index: 9; border: 1px solid #007633; color: #007633; background: #d0f4e0;}
div.field.focus div.hint {display: block;}


/*s-active.css*/
#header .logo:active,
#navigation ul li a:active {text-decoration: underline;}
#content .scene ul.tags a:active {color: #888888;}
#content .scene a:active {text-decoration: underline;}
#content ul.actions input.button:active,
#content ul.actions a.button:active {background-color: #bebebe;}
#content ul.actions input.button.primary:active,
#content ul.actions a.button.primary:active {background-color: #313942;}
#content ul.actions input.button.secondary:active,
#content ul.actions a.button.secondary:active {background-color: #313942;}
#content form input.button.disabled:active {cursor: default !important; color: #aaaaaa !important; background-color: #eeeeee !important;}
#content .scene.docsindex .search .results .function:active {background: #ededed;}
#content .scene .pagination .next a:active,
#content .scene .pagination .previous a:active {background-color: #313942;}

