/*
MIT license, 2002-2019 parentNode.dk
asset-builder @ 2020-03-19 20:44:16
*/

/*seg_desktop_include.css*/

/*s-fonts.css*/
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'),
		 url('fonts/open_sans/opensans-regular-webfont.woff') format('woff'),
		 url('fonts/open_sans/opensans-regular-webfont.ttf') format('truetype'),
		 url("fonts/open_sans/opensans-regular-webfont.svg#OpenSansRegular") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open_sans/opensans-bold-webfont.woff2') format('woff2'),
		 url('fonts/open_sans/opensans-bold-webfont.woff') format('woff'),
		 url('fonts/open_sans/opensans-bold-webfont.ttf') format('truetype'),
		 url('fonts/open_sans/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open_sans/opensans-italic-webfont.woff2') format('woff2'),
		 url('fonts/open_sans/opensans-italic-webfont.woff') format('woff'),
		 url('fonts/open_sans/opensans-italic-webfont.ttf') format('truetype'),
		 url('fonts/open_sans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Serif';
	src: url('fonts/pt_serif/pt_serif-regular-webfont.woff2') format('woff2'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.woff') format('woff'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.ttf') format('truetype'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.svg#pt_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*s-page.css*/
* {font-family: "OpenSans", Verdana, Arial, sans-serif; color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {min-height: 100%;}
body {background: #ffffff; margin: 0; overflow-y: scroll; overflow-x: hidden;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px; color: #333333;}
input, textarea {outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
sup {line-height: 1em; font-family: inherit; color: inherit;}
h1 {padding: 0 70px 26px; font-size: 48px; line-height: 1.05em;
	font-family: "PT Serif", Times, serif;
}
h2 {padding: 0 70px 26px; font-size: 30px; line-height: 1.1em;
	font-family: "PT Serif", Times, serif;
}
h3 {padding: 0 70px 10px; font-size: 22px; line-height: 1.1em;}
h4 {padding: 0 70px 5px; font-size: 17px; line-height: 1.2em; font-weight: bold;}
h5 {padding: 0 70px 2px; font-size: 14px; line-height: 1.2em; font-weight: bold;}
h6 {padding: 0 70px 2px; font-size: 14px; line-height: 1em; font-weight: normal; font-style: italic;}
p {padding: 0 70px 20px; font-size: 14px; line-height: 1.38em;}
ul,
ol {font-size: 0;}
li {font-size: 13px; line-height: 1.25em;}
dl {font-size: 0;}
dt,
dd {display: inline-block; vertical-align: top; font-size: 13px; line-height: 1.25em;}
#page {position: relative; min-height: 100%; min-width: 640px;}
#page.fixed {width: 1080px; margin: 0 auto;}
.terms_notification {opacity: 0; position: fixed; z-index: 90; top: 50%; margin-top: -140px; right: 0px; padding: 15px 20px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; background: #000000; border-right: none;}
.terms_notification h3 {padding: 0 0 20px; font-size: 14px; color: #ffffff;}
.terms_notification .accept,
.terms_notification .details {padding: 3px 15px; font-size: 16px; display: inline-block; vertical-align: bottom; color: #ffffff;}
.terms_notification .accept {float: left; border-radius: 3px; background-color: #8c9399;}
.terms_notification .details {float: right;}
#page #notifications {position: fixed; z-index: 110; top: 0; width: 200px; left: 50%; margin-left: -100px; background: #333333; color: #ffffff;}
#page #notifications div {padding: 10px 20px; color: #ffffff;}
#page #notifications .error {background: #df0000;}
body > div.hint {z-index: 100; position: absolute; top: 0; left: 0; padding: 3px 5px; background: #ffffff; color: #888888; border: 1px solid #888888; box-shadow: 0 1px 1px #888888; border-radius: 5px; font-size: 12px; max-width: 400px;}
body > div.hint p {padding: 5px; color: #888888; font-size: 12px;}
body > div.hint a {text-decoration: underline; display: inline-block; vertical-align: top; padding: 5px;}
#smartphone_switch {z-index: 11000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.95); text-align: left; opacity: 0;}
#smartphone_switch h1 {padding: 40px 20px; font-size: 36px; width: 300px;}
#smartphone_switch p {padding: 0 20px 20px; width: 250px;}
#smartphone_switch ul {padding: 30px 20px 20px;}
#smartphone_switch li.switch {float: right;}


/*s-header.css*/
#header {opacity: 0; position: relative; height: 100px;}
#header .logo {z-index: 50; position: absolute; top: 10px; left: 30px; font-size: 30px; padding: 10px 13px; color: #888888; cursor: pointer; 
	background-color: rgba(255,255,255, 0.8); border-radius: 5px;
	font-family: "PT Serif", Times, serif;
}
#header .logo {position: fixed;}
#header .servicenavigation {position: absolute; top: 5px; right: 43px;}
#header .servicenavigation li {display: inline-block; vertical-align: top; color: #bbbbbb; padding: 3px 0;}
#header .servicenavigation li.navigation {display: none;}
#header .servicenavigation li:before {content: "\00a0\00a0|\00a0\00a0"; color: #bbbbbb;}
#header .servicenavigation li.github:before,
#header .servicenavigation li.navigation:before,
#header .servicenavigation li:first-child:before {content: none;}
#header .servicenavigation li.github {margin: 0 0 0 10px; padding: 4px 12px; background: #8c9399; border-radius: 3px; cursor: pointer; font-size: 12px; color: #ffffff;}
#header .servicenavigation li.cart.used {color: #df0000;}
#navigation {opacity: 0; z-index: 50; position: fixed; right: 33px; top: 65px; 
	background-color: rgba(255,255,255, 0.8); border-radius: 5px;
}
#navigation ul {}
#navigation ul li {display: inline-block; vertical-align: top; padding: 10px; font-size: 20px; color: #888888;
	font-family: "PT Serif", Times, serif;
}
#navigation ul li.front {display: none;}


/*s-footer.css*/
#footer {opacity: 0; text-align: center; border-top: 1px solid #888888;}
#footer p {padding: 10px; cursor: pointer; font-size: 13px;}

/*s-content.css*/
#content {position: relative;}
#content .scene {opacity: 0; position: relative; padding: 50px 0 75px;}
#content .scene h1 span {display: inline-block;}
#content .scene .link {cursor: pointer;}
#content .scene a {color: #888888;}
#content .scene h1,
#content .scene h2,
#content .scene h3,
#content .scene h4,
#content .scene h5,
#content .scene h6,
#content .scene p {width: 500px; position: relative;}
#content .scene hr {border: none; border-top: 1px solid #888888; margin: 30px 0 50px; padding: 0;}
#content .scene p.note {font-style: italic;}
#content .scene p+h2,
#content .scene ul+h2,
#content .scene ol+h2,
#content .scene ul+.pagination+h2,
#content .scene dl+h2,
#content .scene div.article+h2,
#content .scene code+h2 {padding-top: 20px;}
#content .scene ul.tags+h2,
#content .scene ul.info+h2 {padding-top: 0;}
#content .scene p+code {margin-top: -15px;}
#content .scene ul,
#content .scene ol {padding: 0 70px 15px;}
#content .scene ul.items {padding: 0;}
#content .scene ul.items li.item {display: block; padding-top: 20px; padding-bottom: 30px; border-top: 1px solid #dedede; position: relative;}
#content .scene ul.items li.item h2 {position: relative; z-index: 1;}
#content .scene dl {padding: 0 70px 15px; width: 500px;}
#content .scene dt {width: 115px; text-align: right; padding: 0 5px 6px 0; color: #bbbbbb;}
#content .scene dt:after {content: ":";}
#content .scene dd {padding: 0 0 6px; width: 380px;}
#content .scene dt span {text-transform: none;}
#content .scene dl dl {padding: 0 0 10px; margin-left: -30px; width: 425px;}
#content .scene dl dl dt {width: 80px;}
#content .scene dl dl dd {width: 339px;}
#content .scene dl h3,
#content .scene dl h4,
#content .scene dl h5,
#content .scene dl h6 {padding-left: 0; padding-right: 0; padding-top: 10px;}
#content .scene > ul.actions {margin: 0 0 20px; padding: 15px 70px;}
#content .scene ul.tags {position: relative; z-index: 1; padding-bottom: 20px;}
#content .scene ul.tags li {font-size: 12px; display: inline-block; vertical-align: top;}
#content .scene ul.tags li:after {content: "\00a0|\00a0"; color: #bbbbbb;}
#content .scene ul.tags li:last-child:after {content: none;}
#content .scene ul.tags li a {}
#content .scene li.item ul.tags {}
#content .scene ul.tags li.editing {background: #666666; border-radius: 3px; color: #ffffff !important; margin: -2px 10px -2px -2px; padding: 2px 10px;}
#content .scene ul.tags li.editing:after {content: none;}
#content .scene ul.info {position: relative; z-index: 1; padding-bottom: 26px; padding-right: 0; display: inline-block; vertical-align: top; width: auto; font-size: 0;}
#content .scene ul.info li {width: auto; font-size: 12px; line-height: 12px; color: #bbbbbb; display: inline-block; vertical-align: top;}
#content .scene ul.info > li.author:before,
#content .scene ul.info > li.place:before {content: "\00a0|\00a0"; color: #bbbbbb; display: inline-block; vertical-align: top; font-size: 12px; line-height: 10px; }
#content .scene ul.info li.main_entity,
#content .scene ul.info li.url,
#content .scene ul.info li.publisher,
#content .scene ul.info li.image_info,
#content .scene ul.info li.modified_at,
#content .scene ul.info li.latitude,
#content .scene ul.info li.longitude {display: none;}
#content .scene div.image,
#content .scene div.media {position: relative; z-index: 10;}
#content .scene div.image img,
#content .scene div.media img {cursor: zoom-in; margin: 0 50px 30px; width: 540px; border-radius: 5px; overflow: hidden;}
#content .scene div.image p,
#content .scene div.media p {margin-top: -27px; padding: 0 70px 33px; font-size: 0; display: none;}
#content .scene div.image p a,
#content .scene div.media p a {font-style: italic; font-size: 13px; line-height: 1.1em; color: #bbbbbb; cursor: default; text-decoration: none;}
#content .scene div.image.loaded p,
#content .scene div.media.loaded p {display: block;}
#content .scene div.image.fullsize,
#content .scene div.media.fullsize {}
#content .scene div.image.fullsize img,
#content .scene div.media.fullsize img {cursor: zoom-out; margin: 0 0 30px; border-radius: 0;}
#content .scene div.vimeo,
#content .scene div.youtube {position: relative; z-index: 1;}
#content .scene div.vimeo iframe,
#content .scene div.youtube iframe {margin: 0 50px 30px; width: 540px; border-radius: 5px; overflow: hidden;}
#content .scene div.categories {padding-bottom: 20px;}
#content .scene div.categories ul.tags li {font-size: 14px; margin: 0 20px 0 0; display: inline-block; vertical-align: top;}
#content .scene div.categories ul.tags li.all {padding-top: 15px;}
#content .scene div.categories ul.tags li a {padding: 5px 0; display: block; text-decoration: none;}
#content .scene div.categories ul.tags li:after {content: none;}
#content .scene div.categories ul.tags li.selected {}
#content .scene div.categories ul.tags li.selected a {background-color: #000000; color: #ffffff; padding: 4px 10px; border-radius: 3px;}
#content .scene div.categories ul.actions {padding-bottom: 0;}
#content .scene div.categories ul.actions li {font-size: 15px;}
#content .scene div.related {padding-top: 10px; position: relative; z-index: 1;}
#content .scene div.related h2 {padding-bottom: 15px;}
#content .scene div.related h2 a {font-size: 12px; display: inline-block; vertical-align: middle;
	font-family: "OpenSans";
}
#content .scene ul.offer,
#content .scene .articlebody ul.offer {font-size: 0; padding: 0; margin: 0; list-style: none;}
#content .scene ul.offer li.name,
#content .scene ul.offer li.currency,
#content .scene ul.offer li.url {display: none;}
#content .scene ul.offer li {font-size: 11px; width: auto; display: inline-block; vertical-align: top; padding: 0 5px 0 0;}
#content .scene ul.offer li.default {text-decoration: line-through;}
#content .scene ul.offer li.description {padding-top: 4px; display: block;}
#content .scene ul.offer li.description ul {list-style: disc;}
#content .scene ul.offer li.description ul li {display: list-item; padding: 0 0 3px; font-size: 13px;}
#content .scene code {padding: 10px 20px; margin: 0 50px 15px; background-color: #ededed; color: #333333; font-size: 12px; display: block; overflow: auto; white-space: pre; border-radius: 5px;
	font-family: "Monaco", "Courier New", "Courier";
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-ms-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
#content .scene span.type,
#content .scene span.var,
#content .scene span.value,
#content .scene span.file,
#content .scene span.htmltag,
#content .scene span.command {
	font-family: "Monaco", "Courier New", "Courier"; font-size: 0.8em;
}
#content .scene span.type {color: #a67800;}
#content .scene span.var {color: #007633;}
#content .scene span.value {color: #a65900; font-style: italic;}
#content .scene span.file {color: #a62300;}
#content .scene span.htmltag {text-transform: uppercase; font-size: 0.7em;}
#content .scene span.htmltag:before {content: "<"; line-height: 2.1em; vertical-align: top;}
#content .scene span.htmltag:after {content: ">"; line-height: 2.1em; vertical-align: top;}
#content .scene span.command {color: #4b5cd7;}
#content .scene div.company,
#content .scene div.person {padding: 0 0 25px; font-size: 0;}
#content .scene div.company h2,
#content .scene div.person h2 {border-bottom: 1px solid #dedede; margin-bottom: 30px; width: auto;}
#content .scene div.company dl.info,
#content .scene div.person dl.info {width: 33%; padding: 0 0 30px 70px; box-sizing: border-box; display: inline-block; vertical-align: top;}
#content .scene div.company dl.info dt,
#content .scene div.person dl.info dd,
#content .scene div.company dl.info dt,
#content .scene div.person dl.info dd {display: block; width: auto; text-align: left;}
#content .scene div.company dl.info dd,
#content .scene div.person dl.info dd {padding-bottom: 10px; font-size: 12px;}
#content .scene div.company dl.info dd ul,
#content .scene div.person dl.info dd ul {padding: 0;}
#content .scene div.company dl.info dd li,
#content .scene div.person dl.info dd li {font-size: 12px;}
#content .scene.login form {padding-bottom: 20px;}
#content .scene.login form li.forgot {padding: 7px 0 0;}
#content .scene.login form li.forgot a {padding: 0; display: inline-block; vertical-align: top;}
#content .scene p.error,
#content .scene p.errormessage {color: #df0000;}


/*s-article.css*/
#content .scene div.article {position: relative; padding-bottom: 30px;}
#content .scene div.article h1 svg.checkmark {cursor: pointer;}
#content .scene div.article ul.tags {padding-bottom: 30px;}
#content .scene .articlebody {position: relative; z-index: 1;}
#content .scene .articlebody ul,
#content .scene .articlebody ol {list-style-position: outside; margin-left: 15px; width: 485px;}
#content .scene .articlebody ul:not(*:root),
#content .scene .articlebody ol:not(*:root) {margin-left: 18px;}
#content .scene .articlebody ul {list-style-type: disc;}
#content .scene .articlebody ol {list-style-type: decimal;}
#content .scene .articlebody li {font-size: 14px; padding-bottom: 7px; padding-left: 3px;}
#content .scene .articlebody ul.actions {list-style: none; margin: 0;}
#content .scene .articlebody ul.actions li {padding-left: 0;}
#content .scene div.article div.articlebody span.sup.reference {font-size: 10px; line-height: 1.1em; vertical-align: top; padding-left: 2px;}
#content .scene div.article div.articlebody h3.reference {padding-top: 20px;}
#content .scene div.article div.articlebody p.reference {font-style: italic;}
#content .scene .article ul.info > li.place {font-size: 0;}
#content .scene .article ul.geo.active li.name {cursor: pointer; color: #888888;}
#content .scene .article ul.info ul.geo {padding: 0; display: inline-block; vertical-align: top; width: auto;}
#content .scene .article div.geomap {position: relative; z-index: 1; height: 300px; width: 600px; margin-bottom: 20px;}
#content .scene .article div.geomap iframe {display: block; width: 100%; height: 100%; border: 1px solid #666666; background-color: #ffffff; margin: 0 50px 30px; width: 540px; border-radius: 5px; }
#content .scene .article li div.geomap {}

/*s-readstate.css*/
#content .scene svg.checkmark {position: absolute; top: 0; left: 0;}
#content .scene h1 svg.checkmark {top: 13px; left: 35px; transform: scale(1.5);}
#content .scene h2 svg.checkmark {top: 8px; left: 40px; transform: scale(1.2);}
#content .scene h3 svg.checkmark {top: 3px; left: 45px;}
#content .scene svg.checkmark line {stroke: #dedede; stroke-width: 3px;}
#content .scene svg.checkmark.read line {stroke: #666666;}

/*s-form.css*/
form {
}
fieldset {border: none; display: block;}
div.field {padding: 0 68px 15px; position: relative; font-size: 0; z-index: 1;}
div.field label {display: none;}
div.field input,
div.field select,
div.field textarea {box-shadow: inset 0 1px 2px #dedede; background: #ffffff; border: 1px solid #dcdcdc; display: inline-block; vertical-align: top; border-radius: 3px; margin: 2px; outline: none; position: relative; z-index: 1;}
div.field input {width: 366px; height: 24px; padding: 2px 6px;}
div.field select {width: 381px; height: 33px; color: #333333; padding: 5px 3px 2px 2px;}
div.field select option {padding: 5px 3px 2px 6px;}
@media all and (-webkit-min-device-pixel-ratio:0) {
	div.field select {width: 380px; height: 31px; padding: 2px 3px 2px 7px;
		background: #ffffff url(../img/bg_icons.png) no-repeat 360px -977px;
		-webkit-appearance: none;
	}
}
div.field textarea {width: 372px; height: 100px; overflow: auto; padding: 6px 0 2px 6px;}
div.field.short textarea {height: 40px;}
div.field textarea.autoexpand {width: 366px; padding: 6px 6px 2px; overflow: hidden;}
div.field .pseudolabel {z-index: 2; display: none; position: absolute; font-size: 14px; padding: 2px 5px 2px; margin: 3px 2px; background-color: #ffffff;}
div.field input.default ~ .pseudolabel {display: inline-block;}
div.field.checkbox,
div.field.boolean {}
div.field.checkbox input,
div.field.boolean input {display: inline-block; vertical-align: top; width: auto; height: auto; padding: 0; margin: 1px 10px 0 3px; border: 0;}
div.field.checkbox label,
div.field.boolean label {width: auto; display: inline-block; vertical-align: top; font-size: 14px; line-height: 1em;}
div.field.radiobuttons {}
div.field.radiobuttons > label {display: block; font-size: 14px; line-height: 1em; padding: 0 0 0 3px;}
div.field.radiobuttons > label:after {content: ":";}
div.field.radiobuttons div.item {padding: 10px 0 0;}
div.field.radiobuttons div.item input {width: auto; height: auto; padding: 0; margin: 1px 10px 0 3px; border: 0;}
div.field.radiobuttons div.item label {font-size: 14px; line-height: 1em; display: inline-block; vertical-align: top; text-align: left; width: auto;}
div.field input[type="integer"],
div.field input[type="number"] {
	-moz-appearance: textfield;
}
div.field input[type="integer"]::-webkit-inner-spin-button,
div.field input[type="integer"]::-webkit-outer-spin-button,
div.field input[type="number"]::-webkit-inner-spin-button,
div.field input[type="number"]::-webkit-outer-spin-button {margin: 0;
	-webkit-appearance: none;
}
div.field.files {border: 3px dashed #dedede; display: block; width: 378px; border-radius: 5px; position: relative; margin: 2px 68px 17px; padding: 0;}
div.field.files input[type=file] {opacity: 0; width: 360px; height: 49px; margin: 0; border: 0;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	div.field.files input[type=file] {font-size: 130px;}
}
div.field.files label {color: #333333; font-size: 14px; display: block; position: absolute; width: 120px; left: 50%; padding: 1px 4px 3px; margin: 16px 0 0 -60px; text-align: center; border-radius: 6px; background: #dedede;}
div.field.files ul.filelist {color: #333333; font-size: 14px; display: block; position: absolute; width: 120px; left: 50%; padding: 1px 4px 3px; margin: 16px 0 0 -60px; text-align: center; border-radius: 6px; background: #dedede;}
div.field.files.loading label {display: none;}
div.field.files.loading {background: transparent url(../img/gx_loader.gif) no-repeat center center;}
div.field.focus input,
div.field.focus textarea {margin: 0;}
div.field.focus select {padding: 4px 3px 1px 0px;}
@media all and (-webkit-min-device-pixel-ratio:0) {
	div.field.focus select {padding: 2px 3px 3px 5px;
		background-position: 358px -979px;
	}
}
div.field.focus input,
div.field.focus select,
div.field.focus textarea {border: 3px solid #5c5c5c;}
div.field.radiobuttons.focus input,
div.field.checkbox.focus input,
div.field.boolean.focus input {margin: 1px 10px 0 3px; border: none;}
div.field.files.focus {border-color: #c8e183;}
div.field.files.focus input[type=file] {margin: 0; border: none;}
div.field.files.focus label {background-color: #c8e183;}
div.field input.default,
div.field select.default,
div.field textarea.default,
div.field .pseudolabel {color: #aaaaaa;}
div.field .indicator {position: absolute; top: 4px; left: 455px; width: 25px; height: 25px;}
div.field.required .indicator {
	background: transparent url(../img/bg_icons.png) no-repeat 0 -292px;
}
div.field.text.required .indicator {background-position: 0 -296px;}
div.field.radiobuttons .indicator,
div.field.checkbox .indicator,
div.field.boolean .indicator {top: -5px;}
div.field.files .indicator {left: 404px; top: -1px;}
div.field.correct .indicator {background-position: 2px -320px;}
div.field.text.correct .indicator {background-position: 2px -321px;}
div.field.error input,
div.field.error textarea {margin: 0;}
div.field.error select {padding: 3px 3px 2px 0px;}
div.field.error input,
div.field.error select,
div.field.error textarea {border: 3px solid #a62300;}
@media all and (-webkit-min-device-pixel-ratio:0) {
	div.field.error select {padding: 2px 3px 3px 5px;
		background-position: 358px -979px;
	}
}
div.field.radiobuttons.error input,
div.field.checkbox.error input,
div.field.boolean.error input {margin: 1px 10px 0 3px; border: none;
	box-shadow: 0px 0px 0px 1px #df0000;
}
div.field.files.error {border-color: #a62300;}
ul.actions {}
ul.actions li {width: auto; height: auto; display: inline-block; padding: 0 10px 10px 0; vertical-align: top;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
ul.actions input.button {width: auto; height: 30px; padding: 3px 12px; line-height: 14px; display: inline-block; vertical-align: top;
	-webkit-appearance: none;
}
ul.actions a {display: block; height: 16px; padding: 7px 0;}
ul.actions a.button,
#content ul.actions a.button {display: block; text-decoration: none; height: 16px; padding: 7px 12px;}
ul.actions input.button,
ul.actions a.button,
#content ul.actions a.button {font-size: 14px; background-color: #dedede; color: #333333; border: none; cursor: pointer; border-radius: 3px;}
.submitting input[type="submit"].button {
	padding-left: 40px !important;
	background-image: url(../img/gx_loader.gif);
	background-position: 11px 5px;
	background-repeat: no-repeat;
	background-size: 17px auto;
}
ul.actions input.button.primary,
ul.actions a.button.primary,
#content ul.actions a.button.primary {background-color: #8c9399; color: #ffffff;}
ul.actions input.button.secondary,
ul.actions a.button.secondary,
#content ul.actions a.button.secondary {background-color: #8c9399; color: #ffffff;}
ul.actions input.button.disabled
ul.actions a.button.disabled,
#content ul.actions a.button.disabled {cursor: default !important; color: #aaaaaa !important; background-color: #eeeeee !important;}
div.field div.help {position: absolute; left: 475px; top: 6px; width: 200px;}
div.field.files div.help {left: 404px;}
div.field div.error,
div.field div.hint {display: none; padding: 5px; border-radius: 3px; font-size: 12px;}
div.field div.error {border: 1px solid #a62300; color: #a62300; background: #ffddd5;}
div.field.error div.error {display: block;}
div.field div.hint {z-index: 9; border: 1px solid #007633; color: #007633; background: #d0f4e0;}
div.field.focus div.hint,
div.field.hover div.hint {display: block;}
div.field.error div.hint {border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
div.field.focus div.hint+div.error,
div.field.hover div.hint+div.error {border-top-left-radius: 0; border-top-right-radius: 0; border-top: none;}


/*s-hovers.css*/
#header .logo:hover,
#navigation ul li:hover {text-decoration: none;}
#content .scene a:hover {text-decoration: underline;}
.terms_notification .accept:hover {background-color: #313942;}
.terms_notification .details:hover {text-decoration: underline;}
ul.actions input.button:hover,
ul.actions a.button:hover,
#content ul.actions a.button:hover {background-color: #bebebe;}
ul.actions input.button.primary:hover,
ul.actions a.button.primary:hover,
#content ul.actions a.button.primary:hover {background-color: #313942;}
ul.actions input.button.secondary:hover,
ul.actions a.button.secondary:hover,
#content ul.actions a.button.secondary:hover {background-color: #313942;}
ul.actions input.button.disabled:hover,
ul.actions a.button.disabled:hover,
#content ul.actions a.button.disabled:hover {cursor: default !important; color: #aaaaaa !important; background-color: #eeeeee !important;}
div.field.html ul.options li:hover {background-color: #64ad8e;}
div.field.html .editor div.tag:hover .drag {display: block;}
div.field.html .editor div.tag:hover .remove {display: block;}
body #selection_options ul.actions input.button:hover,
body #selection_options ul.actions a.button:hover {background-color: #313942;}
#content .scene.docsindex .search .results .function:hover {background: #ededed;}
#content .scene div.readstate:hover p {color: #000000;}
#content .scene div.comments h2:hover,
#content .scene div.qnas h2:hover {color: #888888;}
#content .scene div.comments h2:hover svg.arrow line,
#content .scene div.qnas h2:hover svg.arrow line {stroke: #888888;}
#content .scene ul.geo.active li.name:hover {text-decoration: underline;}
#content .scene .pagination .next:hover a,
#content .scene .pagination .previous:hover a {background-color: #313942; color: #ffffff;}
#content .scene div.image p a:hover {text-decoration: none;}

