/*
MIT license, 2002-2019 parentNode.dk
asset-builder @ 2019-10-13 18:58:25
*/

/*seg_mobile_include.css*/

/*s-fonts.css*/
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'),
		 url('fonts/open_sans/opensans-regular-webfont.woff') format('woff'),
		 url('fonts/open_sans/opensans-regular-webfont.ttf') format('truetype'),
		 url("fonts/open_sans/opensans-regular-webfont.svg#OpenSansRegular") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open_sans/opensans-bold-webfont.woff2') format('woff2'),
		 url('fonts/open_sans/opensans-bold-webfont.woff') format('woff'),
		 url('fonts/open_sans/opensans-bold-webfont.ttf') format('truetype'),
		 url('fonts/open_sans/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/open_sans/opensans-italic-webfont.woff2') format('woff2'),
		 url('fonts/open_sans/opensans-italic-webfont.woff') format('woff'),
		 url('fonts/open_sans/opensans-italic-webfont.ttf') format('truetype'),
		 url('fonts/open_sans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Serif';
	src: url('fonts/pt_serif/pt_serif-regular-webfont.woff2') format('woff2'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.woff') format('woff'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.ttf') format('truetype'),
		 url('fonts/pt_serif/pt_serif-regular-webfont.svg#pt_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*s-page.css*/
* {font-family: "OpenSans", Verdana, Arial, sans-serif; color: #000000;}
html {}
body {background: #ffffff; margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a {text-decoration: underline; cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px;}
input, textarea {outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
h1 {padding: 0 10px 20px; font-size: 24px; line-height: 1.05em;
	font-family: "PT Serif", Times, serif;
}
h2 {padding: 0 10px 20px; font-size: 20px; line-height: 1.1em;
	font-family: "PT Serif", Times, serif;
}
h3 {padding: 0 10px 10px; font-size: 16px; line-height: 1.25em;}
h4 {padding: 0 10px 5px; font-size: 13px; line-height: 1em; font-weight: bold;}
h5 {padding: 0 10px 2px; font-size: 13px; line-height: 1em; font-weight: bold;}
h6 {padding: 0 10px 2px; font-size: 13px; line-height: 1em; font-weight: bold;}
p {padding: 0 10px 15px; font-size: 13px; line-height: 1.38em;} 
ul {font-size: 0;}
li {font-size: 13px; line-height: 1.25em;}
dl {font-size: 0;} 
dt, 
dd {display: block; vertical-align: top; font-size: 13px; line-height: 1.25em;}
.c {clear: both; font-size: 0;}
.c400, .c300, .c266, .c200, .c150, .c133, .c100, .c75, .c50 {display: inline-block; min-height: 10px; vertical-align: top;}
.c400 {width: 100%;}
.c300 {width: 75%;}
.c266 {width: 66%;}
.c200 {width: 50%;}
.c133 {width: 34%;}
.c100 {width: 25%;}
#page {position: relative;}


/*s-header.css*/
#header {padding: 10px;}
#header .logo {font-size: 30px; padding: 10px 20px; color: #888888; cursor: pointer; display: inline-block;
	font-family: "PT Serif", Times, serif;
}
#header .servicenavigation li.navigation {}
#header .servicenavigation li.navigation a {}
#header .servicenavigation li.cart {display: none;}
#header .servicenavigation li.login {display: none;}
#header .servicenavigation li.user {display: none;}
#header .servicenavigation li.admin {display: none;}
#navigation {}
#navigation ul {border-top: 1px solid #888888;}
#navigation ul li {padding: 10px; font-size: 18px; color: #888888; display: block; text-align: center;
	font-family: "PT Serif", Times, serif;
}


/*s-footer.css*/
#footer {text-align: center; border-top: 1px solid #888888; margin: 0;}
#footer p {padding: 10px;}
#footer .servicenavigation {display: none;}


/*s-content.css*/
#content {position: relative;}
#content .scene {position: relative; padding: 20px 0 30px;}
#content .scene .link {cursor: pointer;}
#content .scene a {color: #888888;}
#content .scene h1,
#content .scene h2,
#content .scene h3,
#content .scene h4,
#content .scene h5,
#content .scene h6,
#content .scene p {}
#content .scene hr {border: none; border-top: 1px solid #888888; margin: 15px 0 20px; padding: 0;}
#content .scene p.note {font-style: italic;}
#content .scene p+h2,
#content .scene ul+h2,
#content .scene ol+h2,
#content .scene ul+.pagination+h2,
#content .scene dl+h2,
#content .scene div.article+h2,
#content .scene code+h2 {padding-top: 10px;}
#content .scene ul.tags+h2,
#content .scene ul.info+h2 {padding-top: 0;}
#content .scene p+code {margin-top: -15px;}
#content .scene ul,
#content .scene ol {padding: 0 10px 15px;}
#content .scene li {padding: 0 0 5px;}
#content .scene ul.items {padding: 0;}
#content .scene ul.items li.item {display: block; padding-top: 20px; padding-bottom: 10px; border-top: 1px solid #dedede;}
#content .scene dl {padding: 0 10px 15px; overflow: hidden;}
#content .scene dt {padding: 0 0 2px 0; color: #999999;} 
#content .scene dd {padding: 0 0 12px 10px;}
#content .scene dt span {text-transform: none;}
#content .scene dl dl {padding: 0 0 10px;}
#content .scene dl dl dt {}
#content .scene dl dl dd {}
#content .scene dl h3,
#content .scene dl h4,
#content .scene dl h5,
#content .scene dl h6 {padding-left: 0; padding-right: 0; padding-top: 10px;}
#content .scene ul.tags li {font-size: 12px;}
#content .scene ul.tags li.editing {background: #666666; border-radius: 5px; color: #ffffff; margin: -2px 10px 5px -4px; padding: 2px 10px 3px; display: inline-block; vertical-align: top;}
#content .scene ul.info {padding-bottom: 10px; padding-right: 0;}
#content .scene ul.info li {font-size: 12px; color: #cccccc; display: block;}
#content .scene ul.info li.main_entity,
#content .scene ul.info li.publisher,
#content .scene ul.info li.image_info,
#content .scene ul.info li.modified_at {display: none;}
#content .scene div.image,
#content .scene div.media {display: none;}
#content .scene .pagination {}
#content .scene div.categories {padding-bottom: 10px;}
#content .scene div.related {}
#content .scene dl.offer {font-size: 0; padding: 0;}
#content .scene dl.offer dt {display: none;}
#content .scene dl.offer .url {display: none;}
#content .scene dl.offer dd {font-size: 13px; width: auto; display: inline; padding: 0 5px 0 0;}
#content .scene code {padding: 10px 10px; margin: 0 0 15px; background-color: #ededed; color: #333333; font-size: 11px; display: block; overflow: hidden; white-space: pre-wrap;
	font-family: "Monaco", "Courier New", "Courier";
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-ms-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
#content .scene span.type,
#content .scene span.var,
#content .scene span.value,
#content .scene span.file,
#content .scene span.htmltag,
#content .scene span.command {
	font-family: "Monaco", "Courier New", "Courier"; font-size: 12px;
}
#content .scene span.type {color: #a67800;}
#content .scene span.var {color: #007633;}
#content .scene span.value {color: #a65900; font-style: italic;}
#content .scene span.file {color: #a62300;}
#content .scene span.htmltag {text-transform: uppercase;}
#content .scene span.command {color: #4b5cd7;}
#content .scene div.vcard {padding: 0 0 15px; margin-top: 45px; border-top: 1px solid #dedede;}
#content .scene div.vcard h2 {margin-top: -45px; padding-bottom: 50px;}
#content .scene div.vcard dl.info {}
#content .contact div.vcard dl.financial {display: none;}
#content .scene div.vcard dl.info dt,
#content .scene div.vcard dl.info dd {display: block; width: auto; text-align: left;}
#content .scene div.vcard dl.info dd {padding-bottom: 10px; color: #cccccc;}
#content .scene div.vcard dl.info dd ul {padding: 0;}
#content .scene div.vcard dl.info dd li {font-size: 12px; color: #cccccc;}
#content .scene p.error,
#content .scene p.errormessage {color: #df0000;}


/*s-article.css*/
#content .scene div.article {padding-bottom: 20px;}
#content .scene div.article ul.tags a {color: #cccccc;}
#content .scene div.article div.articlebody .placeholder {display: none;}
#content .scene .articlebody ul,
#content .scene .articlebody ol {list-style-position: outside; margin-left: 15px;}
#content .scene .articlebody ul {list-style-type: disc;}
#content .scene .articlebody ol {list-style-type: decimal;}
#content .scene .articlebody li {padding-bottom: 7px; padding-left: 3px; display: list-item;}
#content .scene .articlebody ul.actions {list-style: none; margin: 0;}
#content .scene .articlebody ul.actions li {padding-left: 0;}
#content .scene ul.articles {padding: 0;}
#content .scene ul.articles li.article {padding: 10px 0 0; border-top: 1px solid #dedede;}
#content .scene ul.articles li.article ul.tags {padding-bottom: 10px;}
#content .scene ul.articles li.article ul.tags li a {color: #cccccc;}
#content .scene .article ul.info ul.geo {padding: 0;}

